<nav id="nav">
    <ul>
        <li>
            <a href="" title="">Kdo jsme</a>
        </li>
        <li>
            <a href="" title="">Co děláme</a>

            <ul class="submenu">
                <li><a href="" title="">Webové stránky</a></li>
                <li><a href="" title="">E-shop</a></li>
                <li><a href="" title="">Obsah a optimalizace</a></li>
                <li><a href="" title="">Webové aplikace</a></li>
            </ul>
        </li>
        <li><a href="" title="">Proč si nás vybrat</a></li>
        <li><a href="" title="">Kontakt</a></li>
        <li><a href="" title="" id="startProjectBtn">Začít projekt</a></li>
    </ul>
</nav>