body{
    font-family: $font-family-text;
    font-size: $font-size-regular;
    background-color: $bg-color;
}

h1{
    font-size: $font-size-xx-large;
    font-weight: $font-weight-regular;
    margin-bottom: $font-size-regular;
}