#nav{
    float: right;

    & > ul{
        @include clearfix();
        padding: 0;
        margin: 0; 

        & > li{
            position: relative;
            float: left;
            text-align: center;

            & > a{
                position:relative;
                color: $grey;
                text-decoration: none;
                text-transform: uppercase;
                padding: 39px 16px 16px;
                display: block;

                &:after {
                    content: '';
                    display: block;
                    margin: 6px auto auto;
                    height: 3px;
                    width: 0px;
                    border-radius: 3px;
                    background: transparent;
                    transition: width .5s ease, background-color .5s ease;
                }

                &#startProjectBtn{
                    color: $blue;
                    font-weight: $font-weight-bold;
                }
            }

            &:focus a:after, &:hover a:after{
                width: 100%;
                background: $blue;
            }

            ul.submenu{
                display: block;
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                background: $white;
                min-width: 240px;
                opacity: 0;
                visibility: hidden;
                @include transition(all);

                li{
                    a{
                        display: block;
                        padding: 12px 12px;
                        color: $grey;
                        text-decoration: none;
                        @include transition(all);

                        &:hover, &:focus{
                            background: $blue;
                            color: $white;
                        }
                    }
                }
            }   

            &:hover ul.submenu, &:focus ul.submenu{
                opacity: 1;
                visibility: visible;
            }
        }
    }
}