$font-size-small:				16px;
$font-size-regular:				18px;
$font-size-large:				24px;
$font-size-x-large:				28px;
$font-size-xx-large:                            48px;
$font-size-xxx-large:                           64px;
$font-size-xxxx-large:                          96px;

$font-weight-light:				300;
$font-weight-regular:                           400;
$font-weight-bold:				600;

$font-family-text:				'Open Sans', sans-serif;
$font-family-display:                           source-serif-pro, Georgia, "Times New Roman", Times, serif;
$font-family-code:				source-code-pro, Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;